<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/head') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center aling-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci,
          ullam ex? Natus atque dolore minus quisquam, inventore accusantium ex
          architecto omnis iste eius dolorem necessitatibus sint aliquid animi!
          Neque, quia dolorum non quam ex ad et in optio iusto, maiores quaerat,
          soluta sed. Neque exercitationem, vitae fuga quam blanditiis,
          reprehenderit adipisci inventore eligendi libero quo eos deserunt
          voluptate dignissimos eius delectus. Voluptates voluptas cumque
          perferendis ut nam unde officia natus repudiandae quo laudantium,
          dolorum id consectetur distinctio sequi totam. Amet beatae deserunt
          quasi placeat rem ad, dolorum nihil maxime facere? Molestias tenetur
          sequi veniam! Vero omnis deleniti, dolores veniam quisquam totam!
          Officiis neque qui id, adipisci odit mollitia, ipsum animi debitis
          doloribus expedita temporibus? Amet sed minus dolore, fuga obcaecati
          maxime harum tempore quaerat? Odit dolorem, eius impedit iste iure ad
          ut minima amet sed deserunt quaerat quae voluptates laboriosam harum!
          At fugit reiciendis, beatae velit vel optio atque ut maxime libero
          animi iure quis doloremque voluptates, ipsum id totam aliquid
          obcaecati cupiditate molestiae maiores mollitia nulla quas? Iure
          aperiam autem cumque in voluptates fugiat natus quasi delectus nihil
          animi repellendus dolor vel, aut numquam nobis officiis porro
          doloribus quod veritatis ea repudiandae? Exercitationem incidunt
          libero suscipit aut dolor totam!
        </p>
      </section>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
