<footer>
  <h1>Lorem, ipsum dolor.</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit enim earum
    voluptas. Ea eveniet fugiat dolorem aliquid exercitationem, accusantium
    dolore esse error, dicta deserunt consequuntur eius sed iusto totam tenetur
    odit distinctio molestias modi natus aperiam incidunt ex ipsam expedita
    quae? Sit consequatur ut fuga optio, odit magni inventore accusantium
    incidunt enim porro excepturi molestiae ex unde dignissimos quis cum!
    Soluta, aspernatur corporis totam vel fugit voluptates? Officia fuga
    temporibus repudiandae ullam nobis nostrum eos tempora qui. Porro magnam
    libero voluptate cupiditate iste quasi non! Blanditiis aliquid praesentium
    sequi assumenda saepe in non molestias dolorem, quos facere esse vero nulla?
  </p>
</footer>
